.main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

.table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 20px;
  text-align: left;
  background-color: var(--color-white);

  & tbody tr:nth-child(even) {
    background-color: var(--color-lightgray);
  }

  & tbody tr {
    transition: all 0.05s ease-out;
  }

  & tbody tr:not(.notification):hover {
    background-color: var(--color-lightpurple);
  }

  & caption {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
  }

  & th {
    padding: 15px 15px;
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  & td {
    padding: 10px 15px;
  }

  & tr:not(.notification) td {
    cursor: pointer;
  }

  & th:not(:last-of-type),
  td:not(:last-of-type) {
    border-right: 1px solid var(--color-gray);
  }

  & tr:not(:last-of-type) td,
  & tr th {
    border-bottom: 1px solid var(--color-gray);
  }

  & th,
  td {
    min-width: 50px;
  }

  & th:not(:last-of-type) {
    resize: horizontal;
    overflow: hidden;
  }
}

.error {
  position: fixed;
  top: 15px;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  width: max-content;
  padding: 20px;
  text-align: center;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 15px;
  margin: auto;

  animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.button {
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.05s ease-out;

  &:hover {
    outline: 2px solid var(--color-red);
  }
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
