.main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

.search,
.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

& .input,
.select {
  border: 1px solid var(--color-gray);
  padding: 5px;
  height: 40px;
}

.table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-gray);
  text-align: left;

  & tbody tr:nth-child(even) {
    background-color: var(--color-lightgray);
  }

  & caption {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
  }

  & th {
    padding: 10px;
  }

  & td {
    padding: 5px 10px;
    cursor: zoom-in;
  }

  & th,
  td {
    border: 1px solid var(--color-gray);
    min-width: 50px;
  }

  & th {
    resize: horizontal;
    overflow: hidden;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);

  & .card {
    margin: auto;
    /* width: 50%; */
    /* height: 50%; */
    border: 1px solid var(--color-gray);
    background-color: #fff;
    padding: 40px;
    font-size: 20px;

    animation: slideDown 0.25s ease-out;

    & .list {
      margin-top: 20px;

      display: flex;
      flex-direction: column;

      border: 1px solid var(--color-gray);

      & li {
        padding: 10px 15px;
      }

      & li:not(:last-of-type) {
        border-bottom: 1px solid var(--color-gray);
      }

      & li:nth-of-type(even) {
        background-color: var(--color-lightgray);
      }
    }
  }

  &.active {
    display: block;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
