:root {
  --color-black: #172a35;
  --color-white: #ffffff;
  --color-gray: #e6e6e7;
  --color-lightgray: #f0f0ff;
  --color-red: #f70818;
  --color-purple: #d0d2fd;
  --color-lightpurple: #dadcff;
  --color-blue: #595fe7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-purple);
  color: var(--color-black);
  font-size: 16px;

  &.blocked {
    overflow-y: hidden;
  }
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  line-height: inherit;
}

li {
  list-style: none;
}
