.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: var(--color-white);
}
